@font-face {
    font-display: swap;
}

html {
    position: relative;
    min-height: 100%;
}

.huge {
    font-size: 40px;
}

h1 {
    font-size: 32px !important;
}

h2 {
    font-size: 28px !important;
}

h3 {
    font-size: 24px !important;
}

h4 {
    font-size: 20px !important;
}

h5 {
    font-size: 16px !important;
}

h6 {
    font-size: 14px !important;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Raleway Regular", "Verdana", Arial, sans-serif;
    overflow-x: hidden;
}

body > #app {
    display: flex;
    flex-flow: column;
    height: 100vh;

    .container, {
        flex-grow: 1;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

body > #app > .container-fluid {
    padding-bottom: 15px;
    padding-top: 15px;
}

.bd-example {
    padding: 1.5rem;
    margin: 1rem -.75rem 0;
    border: 1px solid #dee2e6;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;

}

.modal-body {
    padding-top: 0;
}


.modal-header {
    border: 0;
}

.form-check-input {
    position: absolute;
    margin-top: 0.2rem;
    margin-left: 0.25rem;
}

.paginator nav {
    background: none;
    border: none;
}

.card-small-body-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $blue;
}

a:hover, .card-small:hover .card-small-body-title a {
    color: $blue_hover;
    text-decoration: none;
}

.card-small-body-title a {
    font-size: 25px;
    color: $blue;
}

.card-small-body-title a:hover, .card-small-body-title:hover {
    color: $blue_hover;
}


.tags a {
    font-size: 1em;
}


.card-small {
    overflow: visible;
}

.card-small-body-text-area {
    height: 170px;
    padding-top: 10px;
}

/* Header Parallax Element Style*/
.parallax {
    min-height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.card-small-body {
    padding-top: 20px;
}

.pagination {
    justify-content: center;
}

.paginator nav {
    background: none;
}

.search {
    width: auto;
}

@include media-breakpoint-up(sm) {
    .search {
        width: 100%;
        justify-content: center;
    }
}
