@import 'node_modules/foundation-sites/scss/foundation'
@import 'fonts'
@include foundation-everything

html
  scroll-behavior: smooth

html, body
  overflow-x: hidden

h1, h2, h3, h4, h5, h6
  font-family: "Raleway Regular", sans-serif

.fullscreen
  display: block
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 100
  margin: 0
  padding: 0
  background: #ffffff
  overflow: hidden

.dot
  height: 4rem
  width: 4rem
  background-color: #fcd436
  border-radius: 50%
  z-index: 1000
  display: inline-block


.dot-footer
  height: 6rem
  width: 6rem
  background-color: #fcd436
  border-radius: 50%
  display: inline-block
  margin-top: -38px


.row
  margin: 0 auto
  max-width: 82.5rem

body
  font-family: "Raleway Regular", sans-serif
  overflow-x: hidden

@keyframes top-bar-link
  from
    color: #e601fe
  to
    color: #502160


@keyframes gray-image
  from
    filter: grayscale(100%)

  to
    filter: grayscale(0%)

@keyframes gray-image-out
  from
    filter: grayscale(0%)

  to
    filter: grayscale(100%)

.top-bar, .top-bar ul
  background-color: unset

ul.dropdown.menu li a
  color: #000000


ul.dropdown.menu li:first-child a
  padding-left: 0


ul.dropdown.menu li a:hover
  color: #502160
  animation-name: top-bar-link
  animation-duration: 0.5s
  text-decoration: none


ul.dropdown.menu.gray li a
  color: #AAAAAA
  text-decoration: none


.gray
  color: #aaaaaa


.gray-link
  color: #AAAAAA
  text-decoration: none


ul.dropdown.menu.gray li a:hover
  color: #502160
  animation-name: top-bar-link
  animation-duration: 0.5s
  text-decoration: none


.top-bar
  padding-left: 0
  padding-right: 0


.separator-left::after, .separator-right::after, .separator-center::after
  border-bottom-color: #efefef


video
  pointer-events: none


.video-props
  width: 100%


body
  padding: 0 40px
  text-align: justify

a
  color: #502160


a:hover
  color: #502160
  text-decoration: underline
  animation-name: top-bar-link
  animation-duration: 0.5s


.annotation
  color: #AAAAAA
  font-size: 0.8rem


a.grayed img
  animation-name: gray-image-out
  animation-duration: 0.3s
  filter: grayscale(100%)


a.grayed:hover img
  animation-name: gray-image
  animation-duration: 0.3s
  filter: grayscale(0%)


.mckinley
  position: relative
  transform: rotate(345deg)
  width: 108%
  margin-left: -100px
  max-width: fit-content


h1
  line-height: 1em
  font-weight: bold
  font-size: 3.7em


h1.h1
  font-size: 2.7em

h3
  font-family: "Raleway Light", sans-serif


.gray-background
  background-color: #f1f2f2


.white-line
  background-color: #ffffff
  position: relative
  width: 22px
  max-height: 100%
  z-index: 2
  margin-left: -20px


.img-clients img
  max-width: 50%


ul.footer
  list-style-type: none
  margin-left: 0


ul.footer li:not(:first-child)
  margin-top: 10px


ul.footer.email-links li:not(:first-child)
  margin-top: 20px


ul.footer li a
  color: #000000


ul.footer li a
  color: #000000


ul.footer.email-links a
  font-size: 12px
  color: #AAAAAA


ul.footer.email-links li
  line-height: 20px


.bold
  font-weight: bold


.copyright
  color: #AAAAAA


.socials img
  width: 3rem
  padding: 0 5px
  fill: white

.menu-socials img
  width: 2rem
  padding: 0 5px

.svg-socials
  fill: red

.socials ul, .menu-socials ul
  list-style-type: none


.socials ul li, .menu-socials ul li
  display: inline-block


.top-menu
  background: #FFFFFF

.border-bottom
  border-bottom: 1px solid #dedede

.arrow-up
  width: 30%
  height: 30%
  margin-right: 35%
  margin-top: 35%
  color: #FFFFFF
  opacity: 0.8

.js-off-canvas-overlay
  background: rgb(0 0 0 / 43%)

.off-canvas
  background: #502160

.off-canvas.is-open
  box-shadow: none

.title-bar-title
  display: none

.drilldown a
  background: none
  color: #cba9d7
  text-align: center

.drilldown
  .is-drilldown-submenu-parent > a::after
    display: none

  .is-drilldown-submenu
    background: none

  .js-drilldown-back > a::before
    display: none

.js-drilldown-back
  font-weight: bold
  font-size: 0.8rem

@media screen and (max-width: 740px)
  .dropdown.menu li:last-child a
    padding-left: 0

.footer.email-links li
  text-align: initial