.section {
    position: relative;
    margin-bottom: 50px;
    //padding: 0 10px;
    .section-title {
        margin-bottom: 10px;
    }
    .section-items {

        .section-item {
            padding-top: 10px;
            padding-right: 10px;
            padding-left: 10px;
            height: auto;
            width: 33.33%;
            min-width: 300px;
            display: flex;
            justify-content: center;
        }
    }
}



